@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
    font-family: 'Open Sans', 'Arial', sans-serif;
    background-color: #ebebeb;
    padding: 21px 0px 21px 0px;
    text-align: center;
}

.header-name {
    font-size: 21px;
}

.header-info {
    font-size: 14px;
}

.header-btn {
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 31, 206);
    font-size: 14px;
    padding: 12px 18px;
    border-radius: 12px;
    cursor: pointer;
}

.header-record {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-telephone-photo {
    padding-right: 6px;
}