@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.container {
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding-top: 7vh;
    
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about {
    padding-right: 50vh;
}

.container-certificate {
    background-color: #ebebeb;

    margin: 10vh 0 10vh 0;
    padding: 13vh 24vh;
}

.container-notarial-acts {
    text-align: center;
}

.free-consult {
    margin-top: 1vh;
}