@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media only screen and (max-width: 576px) { 
    .container-certificate-title p {
        font-size: 0.75rem;
    }

    .container-notarial-acts-title {
        padding: 0 0.5rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 4rem 2rem;
    }

    .container-notarial-acts-buttons {
        padding: 4rem 1.4rem;
        cursor: pointer;
    }

    .container-notarial-acts-buttons button {
        font-size: 16px;
    }

    .content {
        font-size: 14px;
    }

    .container-info {
        flex-direction: column;
    }
}

@media only screen and (min-width: 576px) {
    .container-about {
        padding-right: 8rem;
    }
    
    .container-certificate-title p {
        font-size: 0.75rem;
    }

    .container-notarial-acts-title {
        padding: 0 3rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 4rem 2rem;
    }

    .container-notarial-acts-buttons {
        padding: 4rem 2rem;
        cursor: pointer;
    }

    .container-notarial-acts-buttons button {
        font-size: 16px;
    }

    .content {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .container-about {
        padding-right: 1rem;
    }
    
    .container-certificate-title p {
        font-size: 0.85rem;
    }

    .container-notarial-acts-title {
        padding: 0 5rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 4rem 3rem;
    }

    .container-notarial-acts-buttons {
        padding: 4rem 5rem;
        cursor: pointer;
    }

    .container-notarial-acts-buttons button {
        font-size: 17px;
    }

    .content {
        font-size: 14px;
    }
}

@media only screen and (min-width: 998px) {
    .container-about {
        padding-right: 8rem;
    }
    
    .container-certificate-title p {
        font-size: 0.9rem;
    }

    .container-notarial-acts-title {
        padding: 0 5rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 4rem 5rem;
    }

    .container-notarial-acts-buttons {
        padding: 4rem 5rem;
        cursor: pointer;
    }

    .container-notarial-acts-buttons button {
        font-size: 18px;
    }

    .content {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .container-about {
        padding-right: 17rem;
    }

    .container-notarial-acts-title {
        padding: 0 4rem;
    }

    .container-certificate-title p {
        font-size: 1.05rem;
        padding: 0 10rem;
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 4rem 1rem;
    }
    
    .container-notarial-acts-buttons {
        padding: 4rem 10rem;
        cursor: pointer;
    }

    .container-notarial-acts-buttons button {
        font-size: 19px;
    }

    .content {
        font-size: 15px;
    }
}

.container {
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding-top: 3rem;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-certificate {
    background-color: #ebebeb;

    margin: 5rem 0;
}

.container-notarial-acts {
    text-align: center;
}

.container-notarial-acts-buttons li {
    margin: 10px 0;
}

.container-list {
    border-top: 1px solid rgb(214, 214, 214);
}

.container-list {
    text-align: left;

    cursor: pointer;
}

.container-list:last-child {
    border-top: 1px solid rgb(214, 214, 214);
}

.collapsible {
    text-align: left;
    font-size: 16px;
    background-color: #fff;
    padding: 28px 18px;
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* .active, .collapsible:hover {
    background-color: #555;
} */

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

